#Sample .env file.
#
#Edit and rename to export_incus_to_remote.env
#
#LOCAL means the NFS client and the incus server about to export
#RMOTE means the NFS server
# e.g. mount -t nfs4 $NFS_SERVER:$NFS_REMOTE_ROOT_DIR $BACKUP_LOCAL_ROOT_DIR
#
#shellcheck disable=SC2034
DEBUG=1
#Send an email at completion
SEND_MAIL=1
#How many full exports (e.g. backups) to keep
#  If = 2 then you'll get directories instance_name.0 and instance_name.1
EXPORTS_TO_KEEP=2
#Remote Backup Method: (nfs only now, rsync over ssh later)
BACKUP_METHOD="nfs"
HOSTNAME=$(hostname)
ADMIN="your_email_here@example.com"
NFS_SERVER="ip.x.x.x"
# This is your mount point for the NFS client.
BACKUP_LOCAL_ROOT_DIR="/path/to/Backup/"
#Incus has a temp dir it uses to first create backups "locally."
# We are overriding what would normally be /var/lib/incus/backups/
BACKUP_LOCAL_TEMP_DIR="$BACKUP_LOCAL_ROOT_DIR/temp_backups/backups/"
#Do not have NFS_REMOTE_ROOT_DIR end with a "/"
NFS_REMOTE_ROOT_DIR="/path/on/nfs/server/$HOSTNAME"
#which ones to backup. Argument for "incus list ..."
#INCUS_LIST="name=myContainerName"
INCUS_LIST="state=running"
